.nav-about a{
  background-image: url(../images/line.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
/* first part */
.about_profile {
  height: 250px;
}

.about_section article {
  display: grid;
  grid: auto auto/auto auto;
  grid-template-areas: "img h2"
    "img p";
  max-width: 700px;
  width: 85%;
  margin: 0 auto;
  column-gap: 2em;
  margin-bottom: 3em;

}

.about_section article picture {
  grid-area: img;
  justify-self: center;
}

.about_section article h2 {
  grid-area: h2;
  font-size: 3em;
  font-family: 'Acme', sans-serif;
  font-weight: lighter;
  text-align: center;
  align-self: end;
}

.about_section article p {
  grid-area: p;
  font-size: 1.5em;
  text-align: center;
  line-height: 30px;
  align-self: top;
}
.about_section article img{
  filter: drop-shadow(6px 6px 10px #A5A5A5);
}

@media (max-width:600px){
  .about_section article {
    display: grid;
    grid: auto auto auto/auto;
    grid-template-areas: "img" "h2" "p";
  }
  .about_profile {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .about_section p{
    margin-bottom: 2em;
  }
}
.about_section{
  padding: 2em;
}

/* Skills */

.about_section fieldset img {
  height: 150px;
  margin-top: 3em;
}

.about_section fieldset {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid gainsboro;
  border-radius: 10px;
  max-width: 700px;
  width: 85%;
  /* margin: 0 auto; */
  justify-content: center;
  column-gap: 5em;
  margin: 0 auto auto auto;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.about_section fieldset legend {
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin: auto;
  font-family: 'Acme', sans-serif;
  font-weight: lighter;
  font-size: 2em;
}

.html_skill {
  display: flex;
  flex-direction: column;
}

.html_skill h2 {
  order: 2;
  text-align: center;
}

.css_skill {
  display: flex;
  flex-direction: column;
}

.css_skill h2 {
  order: 2;
  text-align: center;
}

.js_skill {
  display: flex;
  flex-direction: column;
}

.js_skill h2 {
  order: 2;
  text-align: center;
}

.about_section fieldset h2 {
  margin-bottom: 2em;
}

/* Skills blue backgound */
.html_skill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.html_skill::after {
  content: "";
  background-color: #0076b691;
  height: 200px;
  width: 170px;
  position: absolute;
  z-index: -1;
  bottom: 40px;
  border-radius: 10px;
}

.about_section fieldset h2 {
  font-size: 2em;
  font-family: 'Acme', sans-serif;
  font-weight: lighter;
  margin-top: .5em;
}

.css_skill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_skill::after {
  content: "";
  background-color: #0076b691;
  height: 200px;
  width: 170px;
  position: absolute;
  z-index: -1;
  bottom: 40px;
  border-radius: 10px;
}

.css_section fieldset h2 {
  font-size: 2em;
  font-family: 'Acme', sans-serif;
  font-weight: lighter;
  margin-top: 1em;
}

.js_skill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.js_skill::after {
  content: "";
  background-color: #0076b691;
  height: 200px;
  width: 170px;
  position: absolute;
  z-index: -1;
  bottom: 40px;
  border-radius: 10px;
}
.js_skill::before{
  content: "Very soon!";
  background-color: red;
  padding: .2em;
  border-radius: 5px;
  position: absolute;
  bottom: 250px;
  left: 50px;
  white-space: nowrap;
}

.js_section fieldset h2 {
  font-size: 2em;
  font-family: 'Acme', sans-serif;
  font-weight: lighter;
  margin-top: 1em;
}