.nav-home a {
  background-image: url(../images/line.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
}

.homepage_article {
  min-height: 83vh;
  /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
}

.presentation_section h2,
.presentation_section2 h2 {
  font-size: 2.2em;
  font-family: 'Acme', sans-serif;
  line-height: 1.2em;
  text-align: center;
  font-weight: lighter;
}

/* First section */

.presentation_section {
  display: grid;
  grid: auto auto / auto auto;
  grid-template-areas: "text image"
    "buttons image";


  margin: 2em auto;
  max-width: 740px;
  padding: 20px;
  align-items: center;
  justify-items: center;
  column-gap: 1em;

}

.presentation_section h2 {
  grid-area: text;
}

.presentation_section a {
  grid-area: buttons;
}

.presentation_section img {
  grid-area: image;
  height: 233px;
  width: 200px;
  filter: drop-shadow(1px 4px 7px gray);
}

.presentation_section button {
  border: none;
  background-color: transparent;
  color: transparent;
  position: absolute;
  bottom: 500px;
}

.twitter_btn {
  background-image: url(../images/twitter_icon.svg);
  background-size: cover;
  height: 3em;
  width: 3em;
  border: none;
  color: transparent;
  position: relative;
  left: 2em;
}

.linkedin_btn {
  background-image: url(../images/linkedin_icon.svg);
  background-size: cover;
  height: 3em;
  width: 3em;
  border: none;
  color: transparent;
  position: relative;
  right: 2em;
}


.presentation_h2 strong {
  position: relative;
}

.presentation_h2 strong::before {
  content: '';
  background-image: linear-gradient(90deg, gold, transparent);
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0px;
  transform: rotate(-2deg);
  z-index: -1;
}

.presentation_h2 {
  z-index: 1;
}

/* Second section */
.presentation_section2 {
  display: grid;
  grid: auto auto auto / auto auto;
  grid-template-areas: "img h2"
    "img text"
    "img btn";
  max-width: 740px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 2em;
  align-items: center;
  justify-items: center;
  column-gap: 2em;
  z-index: 100;
  position: relative;

}

.presentation_section2 img {
  grid-area: img;
  height: 200px;
  max-width: 306px;
  border-radius: 10px;
  transform: skewY(2deg);
  filter: drop-shadow(1px 4px 7px gray);
}

.presentation_section2 h2 {
  grid-area: h2;
}

.presentation_section2 p {
  grid-area: text;
  font-size: 1.2em;
  text-align: center;
  line-height: 25px;
  margin-top: 1em;
}

.presentation_section2 button {
  grid-area: btn;
  margin-top: 1em;
  background-color: #0077b6;
  border: none;
  border-radius: 5px;
  padding: .5em 2em;
  color: white;
  transition: background-color .2s ease-in-out;
  font-size: large;
}

.presentation_section2 button:focus,
.presentation_section2 button:hover {
  background-color: #6f4e37ff;
}

.presentation_section2 button:active {
  background-color: red;
}

/* third section */


.articles-section {
   background-color: #E8F7FF;
  position: relative;
  padding-top: 100px;
}
.articles-section .content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.articles-section h2{
  font-size: 2.2em;
  font-family: 'Acme', sans-serif;
  line-height: 1.2em;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 50px;
  position: relative;
}

.articles-section h2 img{
  position: absolute;
  top: -5px;

}

.divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider svg {
  position: relative;
  display: block;
  width: calc(133% + 1.3px);
  height: 122px;
}

.divider .shape-fill {
  fill: #FFFFFF;
}

.article {
  width: 200px;
  height: 300px;
  margin-bottom: 2em;
  margin-right: 2em;
  border:solid 3.5px #0077b6ff;
  border-radius: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* padding: 10px; */
  text-align: center;
  box-shadow: 5px 5px #0077b6ff;
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, left, box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  
}

.article1 {
  background-image: url(/html-css/images/Articles/Article1/planning_a_website/planning_a_website_ybuetq_c_scale\,w_586.jpg);
  background-position: center;
  overflow: hidden;
}

.article p{
  padding-top: 50px!important;
  font-weight: bold;
}
.article1 p{
  background-color: #ffffffc6;
  padding: 5px;
}

.articles-section a{
  text-decoration: none;
}

@media (max-width:400px){
 .articles-section div {
      /* width: 250px!important; */
      margin-right: 0!important;
  }
}

.articles-section .article:focus,
.articles-section .article:hover{
  box-shadow: none;
  top: 5px;
  left: 5px;
}

.articles-section a:focus,
.articles-section a:hover{
  text-decoration: underline;
}

/* responsiveness */
@media (max-width: 340px){
  .presentation_section img{
    width: 60vw;
    height: auto;
  }
  .presentation_section2 img{
    width: 80vw;
    height: auto;
  }
}
@media (max-width: 980px) {

  /* first section */
  .presentation_section {
    display: grid;
    grid: auto auto auto / auto;
    grid-template-areas: "text"
      "image"
      "buttons";
    row-gap: 2em;
  }

  /* second section */
  .presentation_section2 {
    display: grid;
    grid: auto auto auto auto / auto;
    grid-template-areas: "h2"
      "text"
      "img"
      "btn";
  }

  .presentation_section2 p {
    margin-bottom: 2em;
  }

  .presentation_section2 img {
    margin-bottom: 2em;
  }
}